@model FrontEnd.Models.Bestellung

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bestellung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uhrzeit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uhrzeit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kunde.k_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kunde.k_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kunde_Tisch.kt_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kunde_Tisch.kt_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mitarbeiter.vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mitarbeiter.vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MwSt_Satz.mwst_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MwSt_Satz.mwst_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
