@model IEnumerable<FrontEnd.Models.Bestellung> 

    @{
        ViewBag.Title = "Bestellungen";
    }

    <h2>Bestellungen</h2>

    <p>
       @* @Html.ActionLink("Create New", "Create") *@
    </p>
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.datum)*@
                @Html.DisplayName("Tag")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.uhrzeit)*@
                @Html.DisplayName("Uhrzeit")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Kunde.k_id)*@
                @Html.DisplayName("Kunde")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Kunde_Tisch.t_id)*@
                @Html.DisplayName("Tisch")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Mitarbeiter.vorname)*@
                @Html.DisplayName("Bedienung")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Bestellposition)*@
                @Html.DisplayName("Positionen")
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datum.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uhrzeit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kunde.k_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kunde_Tisch.t_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mitarbeiter.vorname)
            </td>
            <td>
            @foreach (var bp in item.Bestellposition) {
                @bp.menge
                @(new HtmlString(" x "))
                @bp.Produkt.bezeichnung
                @(new HtmlString(", "))
                }
            </td>
            <td>
   @* @Html.ActionLink("Edit", "Edit", new { id=item.b_id }) |
    @Html.ActionLink("Details", "Details", new { id=item.b_id }) |*@
                @Html.ActionLink("Fertig", "", new { id=item.b_id })
            </td>
        </tr>
    }

    </table>
